---
layout: default
sitemap: true
id: blog
---

<div class="page-container page-container--blog">

  <div class="inner">
      <div class="page-header text-center bg-gradient">
        {% if page.title != 'Blog' %}
          <a href="/blog">Back to Blog</a>
        {% endif %}
      </div>

      {{ content }}

      {% if page.title == 'Blog' %}
      <ul>
        {% for article in site.data.blog_articles.articles %}
          <li>
            <a href="{{ article.url }}">{{ article.title }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
</div>