<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  {% include head.html %}

  <body>
    <div class="theme-container {% if page.layout == 'landing-page' %} no-sidebar is-home {% endif %}">
    
      {% include nav.html %}

      <div class="content-wrapper">
        {{ content }}
      </div>

      {% include footer.html %}

    </div>
  </body>
</html>