---
layout: default
sitemap: true
id: docs
---

<div class="sidebar-wrapper">
  {% include docs-sidebar.html %}
</div>

<main class="page">
  <div class="theme-default-content content__default">
    {{ content }}
  </div>
  <footer class="page-edit">
    <div class="last-updated">
      <span class="prefix">Last Updated: </span>
      <span class="time">5/14/2021, 11:30:36 AM</span>
    </div>
  </footer>
</main>

{% assign filename = page.path | split: '/' | last %}
{% if page.toc == true or page.toc != false and filename != "README.md" %}
<div class="toc-wrapper">
  <aside class="docs-toc">
    <div class="docs-toc-title">On this page</div>
    {% include toc.html html=content anchor_class="scroll-to" h_min=2 h_max=3 %}
  </aside>
</div>
{% endif %}
