---
layout: default
sitemap: true
id: landing-page
---

<div class="page-container page-container--home">
  <div class="page-masthead-wrap">
    <div class="inner flex flex-wrap -mx-4">
      <div class="page-masthead w-full lg:w-1/2 px-4">

        <div class="page-masthead__upper">
          <header class="page-masthead__header">
            <!-- 
              <Content slot-key="masthead-main-title" />
              <Content slot-key="masthead-sub-title" />
             -->
          </header>
          <!-- .page-masthead__header -->
          <div class="page-masthead__actions">
            <router-link
              to="{{ page.startUrl }}"
              class="btn btn--bright btn--large"
            >
              {{ page.startText }}
            </router-link>
            <a
              href="{{ page.whyUrl }}"
              class="btn btn--hollow btn--large"
            >
              {{ page.whyText }}
            </a>
          </div>
        </div>
        <!-- /.page-masthead__upper -->
        
        <div class="page-masthead__diagram max-w-2xl mx-auto mt-4 w-full lg:w-1/2 block lg:hidden px-4">
          <!-- <Content slot-key="masthead-diagram" /> -->
        </div>
        <!-- masthead diagram: mobile -->
        
        <!-- .page-masthead__actions -->
        {% if page.showNews %}
        <div class="newsbar-wrap newsbar-wrap--left-text">
          <div class="newsbar__inner">
            <div class="newsbar-wrap__title">
              <h3>News</h3>
            </div>
            <div class="newsbar-wrap__content">
              <!-- <Content slot-key="news" class="newsbar" /> -->
            </div>
          </div>
        </div>
        {% endif %}
        <!-- masthead diagram: desktop -->
      </div>
      <!-- .page-masthead -->

      <div class="page-masthead__diagram w-full lg:w-1/2 hidden lg:block px-4">
        <!-- <Content slot-key="masthead-diagram" /> -->
      </div>
    </div>
    <!-- .inner -->
    
  </div>
  <!-- .page-masthead-wrap -->
</div>
