<aside class="sidebar">
  <!--<i class="fa fa-times close-sidebar"></i>-->

  <ul class="sidebar-links">
    {% for section in site.data.docs_nav.sections %}
      <li>
        {{ section.title }}
        <ul>
          {% for child in section.children %}
            <li><a href="{{ child.url }}">{{ child.label }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</aside>
