<footer class="page-footer">
  <div class="cncf-banner">
    <h4>Kuma is a CNCF Sandbox project</h4>
    <img src="/assets/images/CNCF_Alternate_Pantone.png" alt="Cloud Native Computing Foundation Logo">
    <br>
    <p>Kuma was originally created by <a href="https://konghq.com/">Kong, Inc.</a> and made successful by its open <a href="/community">community</a>.</p>
  </div>
  <div class="page-footer__sublinks">
    <div class="inner flex flex-wrap -mx-2">
       <div class="copyright-wrap w-full md:w-3/4 px-2">
          <ul>
             <li class="copyright">© Copyright The Kuma Authors.</li>
             <li><a href="https://github.com/kumahq/kuma/blob/master/CODE_OF_CONDUCT.md">Code Of Conduct</a></li>
             <li><a href="/terms">Terms of Service</a></li>
             <li><a href="/privacy">Privacy</a></li>
             <li><a href="/cookies">Cookie policy</a></li>
             <li><a href="/resources">Resources</a></li>
          </ul>
       </div>
       <div class="social-links w-full md:w-1/4 px-2">
          <ul>
             <li><a href="https://twitter.com/KumaMesh"><img src="/assets/images/social/icon-twitter.svg" alt="Twitter"> <span class="sr-only">Twitter</span></a></li>
             <li><a href="https://www.meetup.com/members/121234612/"><img src="/assets/images/social/icon-meetup.svg" alt="Meetup"> <span class="sr-only">Meetup</span></a></li>
             <li><a href="https://github.com/kumahq/kuma"><img src="/assets/images/social/icon-github.svg" alt="Github"> <span class="sr-only">Github</span></a></li>
             <li><span class="repo-button"><span></span></span></li>
          </ul>
       </div>
    </div>
 </div>
</footer>