<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.title }} | Kuma</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="KongHQ" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
  <!-- use share link for facebook -->
  <meta property="og:url" content="{{ site.links.share }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />

  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/assets/images/favicon.ico"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500,700"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"
  />
  <link
    rel="stylesheet"
    href="/assets/styles.css?v={{ site.time | date: '%s' }}"
  />
</head>
