<header class="navbar">
  <div class="navbar-inner">

    <div class="logo-wrap">
      <a href="/">
        <img class="logo" src="/assets/images/brand/kuma-logo-new.svg" alt="Kuma" />
      </a>      
    </div>

    <div class="links">
      <ul class="nav-links">
        <li class="nav-item"><a href="/policies">Explore Policies</a></li>
        <li class="nav-item"><a href="/docs">Docs</a></li>
        <li class="nav-item"><a href="/community">Community</a></li>
        <li class="nav-item"><a href="/blog">Blog</a></li>
        <li class="nav-item"><a href="/enterprise">Enterprise</a></li>
        <li class="nav-item"><a class="nav-button" href="/install"><button>Install</button></a></li>
      </ul>
    </div>
  </div>
</header>