.toc-wrapper {
  font-size: 16px;
  min-width: 250px;
  padding-top: 5.5rem;
  overflow-y: auto !important;

  .docs-toc {
    width: 250px;
    padding: 1.5rem 0;
    position: fixed;
    height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    .docs-toc-title {
      margin-bottom: 4px;
      text-transform: uppercase;
      font: normal 14px/16px $roboto;
    }

    ul {
      margin: 0 0 0 4px;
      padding: 0;
      list-style: none;

      li {
        position: relative;
        margin: 0;
        padding-left: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-left: 1px solid transparent;

        &:before {
          content: "";
          width: 8px;
          height: 20px;
          position: absolute;
          left: -1px;
          top: 0;
          border: solid #e1eaf4;
          border-width: 0 0 1px 1px;
        }

        &:not(:last-child) {
          border-left-color: #e1eaf4;
        }

        a {
          font-size: 16px;
          line-height: 24px;
          color: rgba(0,0,0,.8);
          opacity: .6;
          transition: opacity .2s;

          &.active {
            opacity: 1;
            font-weight: 600;
          }
        }
      }
    }
  }
}